
<%= simple_form_for(@puntaje) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <%= f.association :datosper, :label_method => :datos%>
    <%= f.input :fecha_ins, label:'Fecha de inscripción',
    start_year: Date.today.year - 70, end_year: Date.today.year %>
    <%= f.association :mat_cargo, :label_method => :nombre%>
    <%= f.input :periodo %>
    <%= f.input :titulo %>
    <%= f.input :antig_tit %>
    <%= f.input :antig_doc %>
    <%= f.input :concepto %>
    <%= f.input :prom_tit %>
    <%= f.input :public %>
    <%= f.input :becas_otros %>
    <%= f.input :concursos %>
    <%= f.input :antec_doc %>
    <%= f.input :red_fed %>

    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
