<p id="notice"><%= notice %></p>

<p>
  <strong>Datosper:</strong>
  <%= @puntaje.datosper_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @puntaje.titulo %>
</p>

<p>
  <strong>Antig tit:</strong>
  <%= @puntaje.antig_tit %>
</p>

<p>
  <strong>Antig doc:</strong>
  <%= @puntaje.antig_doc %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @puntaje.concepto %>
</p>

<p>
  <strong>Prom tit:</strong>
  <%= @puntaje.prom_tit %>
</p>

<p>
  <strong>Public:</strong>
  <%= @puntaje.public %>
</p>

<p>
  <strong>Becas otros:</strong>
  <%= @puntaje.becas_otros %>
</p>

<p>
  <strong>Concursos:</strong>
  <%= @puntaje.concursos %>
</p>

<p>
  <strong>Antec doc:</strong>
  <%= @puntaje.antec_doc %>
</p>

<p>
  <strong>Red fed:</strong>
  <%= @puntaje.red_fed %>
</p>

<%= link_to 'Edit', edit_puntaje_path(@puntaje) %> |
<%= link_to 'Back', puntajes_path %>
