<%= simple_form_for(@datosper) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :docum, label:'Documento' %>
    <%= f.input :apellido, label:'Apellido' %>
    <%= f.input :nombres, label:'Nombres' %>
   

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enviar' %>
  </div>
<% end %>





