<p id="notice"><%= notice %></p>

<p>
  <strong>Docum:</strong>
  <%= @datosper.docum %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @datosper.apellido %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @datosper.nombres %>
</p>

<%= link_to 'Edit', edit_datosper_path(@datosper) %> |
<%= link_to 'Back', datospers_path %>
