<!DOCTYPE html>
<html>
  <head>
  
    <title>Ceadep</title>
    <center><h1>COMISIÓN DE EVALUACIÓN DE ANTECEDENTES - ESCUELAS PREUNIVERSITARIAS</h1></center>
    <center><h2>Sistema de Inscripción y Clasificación</h2></center>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body style="background-color:#FCFC300;">
  <div class="d-flex align-items-center justify-content-center">
    <%= yield %>
  </div>
  </body>
</html>
